@font-face {
  font-family: "Franchise";
  src: url("/images/Franchise-Free-Bold.otf") format("woff2"),
    url("/images/Franchise-Free-Bold.otf") format("woff");
  /* Add more formats if needed (e.g., ttf, svg, etc.) */
}
.vintage {
  background: lighten(brown, 5%);
  color: #ff8611;
  font-family: "Franchise";
  text-shadow: 2px 2px 0px #fff, 6px 15px 0px rgba(0, 0, 0, 0.15);
  display: block;
  text-transform: uppercase;
  transform: rotate(0deg);
  font-size: 4em;
  margin: 0;
}

div#n2-ss-2 .n2-style-405ef6bd1c949b596a8c2ba26098f628-heading {
  background: #1f254dd4;
  opacity: 1;
  padding: 15px 15px 15px 15px;
  box-shadow: none;
  border: 0px solid RGBA(0, 0, 0, 1);
  border-radius: 20px;
}

.ifram_style {
  width: 100%;
  height: 830px;
  background-color: #2b57e2;
}
img.pos_img {
  position: absolute;
  top: 71%;
  left: 242%;
}

.tkn_title {
  text-align: center;
  color: #fff;
  font-family: "Franchise";

  font-size: 35px;
}
.sub_tit {
  font-size: 23px;
}

@media screen and (min-width: 1600px) and (max-width: 2000px) {
  .ifram_style {
    width: 100%;
    height: 1060px;
    background-color: #2b57e2;
  }
}

/* @media screen and (max-width: 1800px) {
  .ifram_style {
    width: 100%;
    height: 860px;
    background-color: #2b57e2;
  }
} */
@media screen and (max-width: 768px) {
  .ifram_style {
    width: 100%;
    height: 420px;
  }
  .sub_tit {
    font-size: 20px;
  }
  .sub_titl {
    font-size: 15px;
  }
  .tkn_title {
    text-align: center;
    color: #fff;
    font-family: "Franchise";

    font-size: 22px;
  }
}
